@import 'variables.scss';

.about {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about__main {
	display: flex;
	gap: 80px;

	.about__img {
		width: 450px;
		border-radius: 20px;
	}
	.about__content {
		width: 550px;
		.about__subTitle {
			font-size: 16px;
			color: $blue;
			margin-bottom: 10px;
			font-weight: bold;
		}
		.about__title {
			font-size: 30px;
			font-weight: 700;
			margin-bottom: 20px;
		}
		.about-text {
			font-size: 16px;
			color: $grey;
			line-height: 1.5;
		}
	}
}
