@import 'variables.scss';

.contact__content {
	width: 350px;
	margin: 70px 0 0 20px;
	display: flex;
	align-items: center;
	gap: 25px;
}

.contact__content__img {
	width: 50px;
}

.contact__mail__name {
	margin-top: 10px;
	color: $grey;
}

.contact__mail__copy {
	background-color: inherit;
	border: none;
	padding: 5px;
	border-radius: 20px;
	transition: 0.4s;
	cursor: pointer;

	&:hover {
		background-color: rgb(209, 208, 208);
	}
}

@media (max-width: 1127px) {
	.contact__content {
		margin: 0;
	}
	.contact__mail__name {
		font-size: 10px;
	}
}
