@import 'variables.scss';
.contact {
	padding-top: 73px;
	padding: 20px 10px;
	margin: 0 50px;
}

.contact__content-text {
	.contact__subTitle {
		font-size: 16px;
		color: $blue;
		margin-bottom: 10px;
		font-weight: bold;
	}
	.contact__title {
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 20px;
	}
}

.contact__content {
	margin: 70px 0 0 20px;
	display: flex;
	align-items: center;
	gap: 25px;
}

.contact__content__img {
	width: 50px;
}

.contact__mail__name {
	margin-top: 10px;
	color: $grey;
}

.contact__mail__copy {
	background-color: inherit;
	border: none;
	padding: 5px;
	border-radius: 20px;
	transition: 0.4s;
	cursor: pointer;

	&:hover {
		background-color: rgb(209, 208, 208);
	}
}
