footer {
	background-color: black;
}

.footer__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10px;
	margin: 0 50px;
}
.footer__title {
	color: white;
}

.footer__contact {
	display: flex;
	align-items: center;
	gap: 50px;
	.footer__list {
		display: flex;
		gap: 40px;
		img {
			width: 40px;
		}
	}
	.footer__tel {
		color: white;
	}
}
