@import 'variables.scss';

.headline {
	height: 100vh;
	display: flex;
	justify-content: center;
}

.headline__container {
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	gap: 80px;
	margin: 200px 0 130px 0;
	.headline__total_img {
		width: 300px;
		height: 300px;
		background-color: aqua;
		border-radius: 20px;
	}
}

.headline__content {
	max-width: 550px;
	.headline__title {
		line-height: 1.1;
		font-size: 70px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	.headline__text {
		font-size: 16px;
		color: $grey;
		margin-bottom: 30px;
		height: 38px;
	}

	.headline__social {
		display: flex;
		gap: 10px;
		img {
			width: 30px;
		}
	}
}

@media (max-width: 1127px) {
	.headline {
		margin: 50px 0;
		height: auto;
	}

	.headline__container {
		justify-content: center;
		margin: 50px 0 60px 0;
		gap: 30px;
	}

	.headline__content {
		margin: 0 10px;
		padding: 0 5px;
		.headline__title {
			font-size: 50px;
			text-align: center;
		}
		.headline__text {
			text-align: center;
		}
		.headline__social {
			justify-content: center;
		}
	}
}
