header {
	position: fixed;
	left: 0;
	top: 0;
	display: inline-block;
	width: 100%;
	background-color: white;
	.header__main {
		padding: 20px 10px;
		margin: 0 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.header__list {
		display: flex;
		gap: 15px;
		font-weight: 700;
		li:hover {
			color: rgb(122, 122, 122);
		}
	}
}

@media (max-width: 592px) {
	.header__main {
		justify-content: center !important;
		text-align: center;
	}
	.header__logo {
		margin-bottom: 10px;
	}
}
