@import 'variables.scss';
.projectCard {
	display: flex;
	flex-wrap: wrap;
	gap: 100px;
	margin-bottom: 80px;
	align-items: center;
}

.projectCard__img {
	order: 1;
	max-width: 700px;
	max-height: 400px;
	overflow: hidden;
	img {
		width: 100%;
		height: auto;
		border-radius: 20px;
	}
}

.projectCard__content {
	order: 2;
	text-align: center;
	max-width: 320px;
	.projectCard__title {
		font-weight: 700;
		font-size: 25px;
		margin-bottom: 25px;
	}
	.projectCard__text {
		color: $grey;
		line-height: 1.3;
		margin-bottom: 25px;
	}
	.projectCard__stack {
		justify-content: center;
		display: flex;
		gap: 20px;
		margin-bottom: 35px;
		li {
			font-weight: bold;
			font-size: 18px;
		}
	}

	.projectCard__url {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		font-weight: bold;
		img {
			width: 30px;
		}
	}
}

.order1 {
	order: 2 !important;
}

.order2 {
	order: 1 !important;
}

@media (max-width: 1127px) {
	.projectCard__content {
		order: 1;
	}

	.projectCard__img {
		order: 2;
	}

	.projectCard {
		gap: 25px;
		justify-content: center;
		margin-bottom: 30px;
	}

	.projectCard__img {
		max-width: 100%;
		height: auto;
		margin: 0 10px;
		padding: 0 5px;
	}
}
